@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: none;
    background-color: #000000;
    font-family: roboto, serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 210px;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
    margin: 0px;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding-top: 15px;
    gap: 15px;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 75px;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
}

.section1-left {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 25;
    padding-top: 80px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    margin: 0px;
}

.sub-text {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    margin-top: 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
}

.section1-right{
    color: #f9faf8;
    background-color:#808080;
    width: 500px;
    height: 120px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-top: 100px;
    margin-bottom: 100px;
}