@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 450px;

}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    padding-top: 15px;
    gap: 15px;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 25px;
    padding-top: 50px;
}

.section1-left {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 25;
    padding-top: 30px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    display: flex;
}

.sub-text {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #f9faf8;
    border-style: solid;
}

.section1-right {
    color: #f9faf8;
    background-color:#808080;
    width: 350px;
    height: 250px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    padding-left: 75px;
}

.section2 {
    background-color: #f9faf8;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    gap: 75px;
    margin-top: 0px;
    padding-top: 50px;
}

.section2-top {
    display: flex;
    align-self: center;
    height: 50px;
    font-size: 36px;
    font-weight: bold;
}

.section2-bottom {
    display:flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    color: #808080;
    gap: 15px;
}

.placeholder {
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 5px;
    border-color: #3882f6;
    border-style: solid;
}

.section3 {
    background-color: #e5e7eb;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 50px;
}

.section3-top {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    padding-top: 50px;
}

.section3-bottom {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    padding-right: 300px;
}

.section4 {
    background-color: #f9faf8;
    height: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 100px;
}

.section4-main {
    background-color: #3882f6;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 75px;
    padding: 50px 100px;
}

.section4-main-left {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.section4-main-left-top {
    display: flex;
    align-self: flex-start;
    color: #f9faf8;
    font-weight: bold;
}

.section4-main-left-bottom {
    display: flex;
    align-self: flex-start;
    color: #e5e7eb;
}

.section4-main-right {
    display: flex;
    align-self: center;
}

.section5 {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}